{%extends "layout.html" %}
{% block content %}
<body>
    <div>
        <h1 style="margin-bottom: 2rem;">{{ course.course_name }}</h1>
        <div style="display: flex; gap: 25px; margin-bottom: -1rem;">
            <p><b>Course Number:</b> {{ course.course_id }}</p>
            <p><b>Instructor:</b> {{ course.teacher }}</p>
            <p style="margin-bottom: 5px;"><b>Course Actions:</b>
            <div style="display: flex; margin-bottom: 20px; gap: 6px;">
                <form action="/course/{{ course.course_id }}/edit" method="get">
                    <button>Edit</button>
                </form>
                <form action="/course/{{ course.course_id }}/delete" method="post">
                    <button>Delete</button>
                </form>
            </div></p>
        </div>
        <p style="margin-bottom: 0rem;"><b>Description:</b></p>
        <p style="margin-bottom: 30px;">{{ course.description }}</p>
    </div>
    <div style="background-color: lightgray; padding: 1.2rem; border: 3px solid black; border-radius: 5px;">
        <h3 style="padding-bottom: 15px;"><b>Comments:</b></h3>
        <div style="padding-left: 40px;">
            {% for comment in course.comments: %}
                <p>{{ comment }}</p>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}