{% extends "layout.html" %}

{% block content %}

<body>
    <div class="container mt-5">
        <h1 class="text-center">Create Course</h1>
        <form action="/courses/new" method="POST" class="mt-4">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="course_name">Course Name:</label>
                        <input type="text" class="form-control" id="course_name" placeholder="ex. Introduction to Computer Systems" name="course_name" required>
                        <div id="course_dropdown" class="dropdown-menu"></div>
                    </div>
                    <div style="padding-top: 1%" class="form-group">
                        <label for="course_num">Course Number:</label>
                        <input type="text" class="form-control" id="course_num" placeholder="ex. ITSC-2181" name="course_num" required>
                    </div>
                    <div style="padding-top: 1%" class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" id="description" placeholder="ex. Introduction to computer system abstractions reflected in programming languages, operating systems, architectures, and networks." name="description" rows="3" required></textarea>
                    </div>
                    <div style="padding-top: 2%" class="text-center">
                        <input type="submit" class="btn-custom" value="Submit">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#course_name').on('input', function() {
            var courseName = $(this).val();
            if (courseName.length > 0) {
                $.ajax({
                    url: '/get_courses',
                    method: 'POST',
                    data: { course_name: courseName },
                    success: function(response) {
                        var courses = response.courses;
                        var dropdownHtml = '';
                        for (var i = 0; i < courses.length; i++) {
                            dropdownHtml += '<a class="dropdown-item course-item" href="#">' + courses[i] + '</a>';
                        }
                        $('#course_dropdown').html(dropdownHtml).show();
                    }
                });
            } else {
                $('#course_dropdown').hide();
            }
        });
    
        $(document).on('click', '.course-item', function() {
            var selectedCourse = $(this).text();
            $('#course_name').val(selectedCourse);
            $('#course_dropdown').hide();
        });
    });
    
    $(document).ready(function() {
        $('#instructor').on('input', function() {
            var instructorName = $(this).val();
            if (instructorName.length > 0) {
                $.ajax({
                    url: '/instructor',
                    method: 'POST',
                    data: { instructor: instructorName },
                    success: function(response) {
                        var instructors = response.instructors;
                        var dropdownHtml = '';
                        for (var i = 0; i < instructors.length; i++) {
                            dropdownHtml += '<a class="dropdown-item instructor-item" href="#">' + instructors[i] + '</a>';
                        }
                        $('#course_drop').html(dropdownHtml).show();
                    }
                });
            } else {
                $('#course_drop').hide();
            }
        });
    
        $(document).on('click', '.instructor-item', function() {
            var selectedInstructor = $(this).text();
            $('#instructor').val(selectedInstructor);
            $('#course_drop').hide();
        });
    });
</script>
    {% endblock %}