{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Login</h2>
    {% if message %}
    <p id="fadeMessage" style="color:#751212">{{ message }}</p>
    <script>
        setTimeout(function() { // this will make the message fade out after 5 seconds
            var fadeTarget = document.getElementById("fadeMessage");
            var fadeEffect = setInterval(function () {
                if (!fadeTarget.style.opacity) {
                    fadeTarget.style.opacity = 1;
                }
                if (fadeTarget.style.opacity > 0) {
                    fadeTarget.style.opacity -= 0.1;
                } else {
                    clearInterval(fadeEffect);
                    fadeTarget.style.display = 'none';
                }
            }, 200);
        }, 5000);
    </script>
{% endif %}
    <form action="{{ url_for('login') }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username or Email</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
{% endblock %}
